*{
    padding: 0;
    margin: 0; 
    font-family: "Mukta", sans-serif;
    -webkit-font-smoothing: antialiased; /* Suaviza as letras */
    -moz-osx-font-smoothing: grayscale;  /* Suaviza em sistemas operacionais macOS */
}
:root{
    --color-blue: #0969da;
}

#menu {
    width: 100%;
    height: 8vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #FFAB49;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgb(66, 66, 66);
}

#menu span img{
    display: flex;
    justify-content: center;
}
#menu img{
    width: 65px;
    height: 65px;
}
#img img{
    width: 1500px; 
    height: 800px;
}

#menu a{
    margin: 10px 10px;
    transition: transform 0.3s, color 0.3s;
}
#menu ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    gap: 25px;
    width: 50vw;
}
#menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-family: "Mukta", sans-serif;
    border-radius: 10px;
}


#menu ul li a:hover {
    color: #ffffff;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu ul li {
    display: inline;
    margin-right: 15px;
}

#menu ul li a {
    text-decoration: none;
    color: #000000;
}

/* Estilo para o botão de login e área de usuário */
#login-button, #logout-button {
    margin-left: 20px;
    background-color: rgb(0, 128, 0);
    width: 70px;
    color: white;
    border: 1px solid #ddd;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
}
#login-button:hover{
    background-color: rgb(1, 104, 1);
}
#logout-button:hover{
    background-color: rgb(1, 104, 1);
}

#login-form {
    position: absolute;
    top: 30px; /* Ajuste a posição conforme necessário */
    right: 190px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garantir que o formulário fique sobre o menu */
}

#login-form.hidden {
    display: none;
}
.hidden{
    display: none;
}
#login-form{
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.541);
}

#login-form input, #login-form button {
    display: block;
    margin-bottom: 10px;
}
#login-form input{
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
#login-form button{
    background-color: rgb(0, 128, 0);
    color: white;
    border: 1px solid #ddd;
    width: 120px;
    height: 3vh;
    cursor: pointer;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 15px;
}
#login-form button:hover{
    background-color: rgb(1, 104, 1);
}

#user-info {
    display: flex;
    align-items: center;
}

#user-info.hidden {
    display: none;
}

#user-info span {
    margin-right: 10px;
}


/* Estilos do Menu Hamburger */
.hamburger-menu {
    display: none;
    position: absolute;
    top: 3vh;
    right: 10px;
    background: #FFAB49;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.hamburger-icon .bar {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
    transition: 0.3s;
}

.hamburger-nav {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hamburger-nav li {
    padding: 10px;
    text-align: center;
}

.hamburger-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.hamburger-nav a:hover {
    color: #fcaf58;
}


@media (max-width: 768px) {
    #menu {
        display: none;
    }
    
    .hamburger-menu {
        display: block;
    }
    
    .hamburger-nav.active {
        display: block;
    }
}


#privacy2 {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    gap: 50px;
    position: absolute;
    bottom: 0;
    left: 0; 
}
#privacy2 .img {
    width: 25px;
    height: 25px;
    margin-top: 3px;
}

.termos2{
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;

    li{
        font-size: 12px;
        list-style: none;
    }

    a{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.733);
        list-style: none;
        font-size: 12px;
    }
    a:hover{
        text-decoration: underline;
        color: var(--color-blue);
    }
}

#download {
    width: 30%;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 140px;
    border-radius: 15px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, .1), 0 4px 20px 10px rgba(0, 0, 0, .1);
    padding: 15px;
}

#download:hover {
    transform: scale(1.05);
}

.title h1 {
    line-height: 1;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Mukta", sans-serif;
}

.title li {
    list-style: none;
    line-height: 1.4;
    font-family: "Mukta" sans-serif;
    font-size: 20px;
    text-align: justify;
}

.title a {
    text-decoration: none;
}

.btn {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    width: 150px;
    height: 50px;
    text-align: center;
    align-items: center;
    background-color: green;
    border-radius: 10px;
    border: solid 1px black;
    color: white;
    font-family: "Mukta" sans-serif;
    font-size: 25px;
    transition: 0.3s ease;
}
.btn:hover {
    transform: scale(1.09);
    cursor: pointer;
    background-color: rgb(4, 156, 4);
}


/* Medias screens para mobiles e etc abaixo*/

@media screen and (max-width: 430px) {
    #download {
        width: 80%;
        height: 40vh;
        margin-top: 120px;
    }
    #download:hover {
        transform: scale(1);
    }

    #privacy2{
        margin-bottom: 10px;
        gap: 20px;
    }

    #privacy2 .termos2 {
        gap: 20px;
    }

    #privacy2 .img {
        margin-top: -1px;
    }

    .title h1 {
        font-size: 25px;
        font-family: "Mukta", sans-serif;
    }
    .title li {
        font-size: 17px;
        font-family: "Mukta", sans-serif;
    }

    .btn {
        font-size: 17px;
        background-color: rgb(4, 156, 4);
    }
    .title a {
        text-decoration: none;
    }
}