*{
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased; /* Suaviza as letras */
    -moz-osx-font-smoothing: grayscale;  /* Suaviza em sistemas operacionais macOS */
    scroll-behavior: smooth;
 }

:root{
    --color-blue: #0969da;
}

 #privacy {
    width: 20%;
    height: 100vh;
    border-right: 0.3px solid rgba(0, 0, 0, 0.137);
    position: fixed;

    h5 {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-bottom: 30px;
        font-weight: normal;
    }

    h5:hover {
        color: var(--color-blue);
        text-decoration: underline;
    }

    h2 { 
        margin-left: 30px;
        margin-top: 15px; 
    }

    a {
        margin-left: 30px;
        text-decoration: none;
        color: black;
    }

    li {
        margin-left: 30px;
        padding: 7px;
        transition: background-color 0.2s ease-in-out;
    }

    li:hover {
        background-color: rgba(0, 0, 0, 0.226);
        width: 300px;
        border-radius: 5px;
        font-weight: bold;
    }
}


#test {
    position: absolute;
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    width: 60%;

    h1 {
        margin-top: 20px;
        margin-left: 60px;
        margin-bottom: 20px;
        width: 70%;
        border-radius: 5px;
        padding: 5px;
        font-size: 25px;
        text-decoration: underline;
    }

    li {
        list-style: none;
        margin-left: 60px;
        width: 70%;
        padding: 5px;
        border-radius: 5px;
        font-size: 14px;
        text-align: justify;
    }

    p span {
        margin-left: 30px;
    }
}


@media screen and (max-width: 430px) { /* Ajuste a largura conforme necessário */
    #privacy {
        display: none; /* Esconde o menu por padrão em telas pequenas */
        position: absolute;
        top: 50px; /* Ajuste conforme necessário */
        left: 0;
        background-color: white; /* Cor de fundo do menu */
        border: 1px solid #ccc; /* Borda do menu */
        z-index: 1000; /* Para aparecer acima de outros elementos */
        width: 200px; /* Largura do menu */
    }

    #hamburger {
        display: block; /* Mostra o botão hamburger */
    }

    #hamburger.hidden {
        display: none; /* Esconde o botão quando o menu está visível */
    }
}

@media screen and (min-width: 769px) {
    #hamburger {
        display: none; /* Esconde o botão hamburger em telas grandes */
    }

    #privacy {
        display: block; /* Mostra o menu normalmente em telas grandes */
        position: static; /* Reseta a posição do menu */
        border: none; /* Remove a borda */
    }
}